@model List<D_A_L.Model.Client>
@{
    ViewBag.Title = "Index";
}
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Müşteriler
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Anasayfa</a></li>
            <li class="active">Müşteriler</li>
        </ol>

    </div>
    <div id="page-inner">
        <div class="card">
            <div class="card-action">
                Müşteriler
            </div>
            <div class="card-content">   
                <div class="table-responsive">
                  <a href="/Client/AddClient" class="btn btn-success" style="float:right">Yeni Müşteri</a>
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Adres</th>
                            <th>Tel No</th>
                            <th>Tel No</th>
                            <th>Tel No</th>
                            <th>E posta</th>
                            <th></th>
                            <th></th>
                        </th>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.ClientName
                                </td>
                                <td>
                                    @item.ClientSurname
                                </td>
                                <td>
                                    @item.ClientAddress
                                </td>
                                <td>
                                    @item.PhoneNumber
                                </td>
                                <td>
                                    @item.PhoneNumber1
                                </td>
                                <td>
                                    @item.PhoneNumber2
                                </td>
                                <td>
                                    @item.ClientMail
                                </td>
                                <td>
                                    <a class="btn btn-info" style="margin-right:-20px;"><i class="fas fa-search-plus"></i></a>
                                </td>
                                <td>
                                    <a  href="/Client/GetClient/@item.ClientId" class="btn btn-warning" style="margin-right:-10px;"><i class="fas fa-user-edit"></i></a>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/bf27bd6f1e.js" crossorigin="anonymous"></script>
<script src="~/Web/assets/js/jquery-1.10.2.js"></script>
<script src="~/Web/assets/js/bootstrap.min.js"></script>
<script src="~/Web/assets/js/dataTables/jquery.dataTables.js"></script>
<script src="~/Web/assets/js/dataTables/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {

        $('#dataTables-example').dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Turkish.json" 
            }
        });
    });
</script>
